apiVersion: apps/v1
kind: Deployment
metadata:
  name: imagerepo-mirror
  labels:
    control-plane: controller
spec:
  selector:
    matchLabels:
      app: imagerepo-mirror
  replicas: 2
  template:
    metadata:
      labels:
        app: imagerepo-mirror
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8080"
    spec:
      serviceAccountName: imagerepo-mirror
      terminationGracePeriodSeconds: 10
      containers:
        - name: manager
          image: fluxcd/imagerepo-mirror
          imagePullPolicy: IfNotPresent
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
          ports:
            - containerPort: 8080
              name: http-prom
          env:
            - name: RUNTIME_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          args:
            - --log-level=info
            - --log-json
            - --enable-leader-election
            - --destination-registry=europe-west4-docker.pkg.dev/YOUR_PROJECT/YOUR_REPO
            - --workers=4
            - --tag-workers=4
          resources:
            limits:
              cpu: 1000m
              memory: 1Gi
            requests:
              cpu: 50m
              memory: 64Mi
          volumeMounts:
            - name: tmp
              mountPath: /tmp
      volumes:
        - name: tmp
          emptyDir: {}

